/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.timepicker {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
  height: 40px;
}

#datetime-picker {
  width: 272px;
  padding: 8px 16px;
  border: 1px solid #808080;
  outline: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:focus {
  border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  background: #fafafa;
  color: #808080;
}

.timer {
  display: flex;
  gap: 30px;
  background-color: #fff;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

button[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

button[data-start]:hover:not(:disabled) {
  background-color: #6c8cff;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[type='number'] {
  margin-top: 8px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #a0a0a0;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
}

input[type='number']:hover {
  border: 1px solid #000;
}

input[type='number']:focus {
  border: 1px solid #4e75ff;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  height: 64px;
  border: 1px solid #a0a0a0;
  border-radius: 6px;
}

fieldset:hover,
fieldset:focus {
  border: 1px solid #000;
}

legend {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 0 6px;
  margin-bottom: 14px;
}

fieldset label {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-right: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

input[type='radio'] {
  width: 20px;
  height: 20px;
  accent-color: #4e6ef2;
  cursor: pointer;
}

button[type='submit'] {
  margin-top: 24px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}
